
.form{       
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 400px;
    border: 1px solid rgb(97, 95, 95);
    padding: 30px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}