table{
    background-color: hsl(113, 41%, 44%);
    color: white;
    width: 95vw;
    margin-top: -6px;
}
table tr th{
    text-align: center;
    font-size: 20px;
    border: 1px black solid;
}
title{
    width: 600px;
}
tr{
    border: 1px black solid;
}
table tr td{
    border: 1px black solid;
    text-align: center;
}
tbody{
    border: 1px black solid;
    color: black;
    background-color: white;
    font-size: 16.5px;
}
.list{
    width: 98%;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: -20px;
}
h2{
    color: white;
    font-size: 38px;
    margin-top: 30px;
    background-color: #4d9d42;
    width: 100%;
    text-align: center;
}
.cats{
    background-color: black;
    color: white;
    text-align: center;
}
.categoru{
    width: fit-content;
    margin-top: 20px;
    border: 2px solid black;
}
.b_title{
    text-align: left;
    width: 600px;
}
.sno{
    width: 40px;
}
label{
    margin-left: 60px;
    font-size: 18px;
}
.search{
    width: 300px;
    margin-left: 10px;
}
.search1    {
    color: black;
}